*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #121721;
    position: relative;
}
.sideBar{
    background-color: #161d29;
    position: absolute;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.sideBar .sideLogo{
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sideBar img{
    width: 38.55px;
    height: 44px;
}
.sideBar .sideMenu{
    margin: 20px 0;
    height: 302px;
    width: 69px;
}
.sideBar .sideMenu li a{
    width: 60px;
    height: 32px;
    margin: 12px 0;
}