*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.body{
    display: flex;
    flex-wrap: wrap;
    padding: 30px 80px;
    gap: 50px;
}
.card{
    width: 300px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.card img{
    width: 100%;
    border-radius: 10px;
}
.buttons{
    display: flex;
    width: 100%;
    height: 30px;
    justify-content: space-evenly;
}
.buttons button{
    width: 60px;
    border: 0;
    border-radius: 10px;
}